GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT={your-project-id}
GOOGLE_CLOUD_LOCATION=us-central1
STAGING_BUCKET=gs://travel-concierge-{your-project-id}
HOTEL_AGENT_URL={your-hotel-agent-url}
FLIGHT_AGENT_URL={your-flight-agent-url}
TRAIN_AGENT_URL={your-train-agent-url}
TICKET_AGENT_URL={your-ticket-agent-url}
RESTAURANT_AGENT_URL={your-restaurant-agent-url}
AGENT_ENGINE_RESOURCE_NAME={your-agent-engine-resource-name}
